In [ ]:
# 5 default funtions for list

In [3]:
lst = ['Rachit',1,2,3,4,5,6,7]

In [4]:
print(lst)

['Rachit', 1, 2, 3, 4, 5, 6, 7]

In [5]:
lst

['Rachit', 1, 2, 3, 4, 5, 6, 7]

In [19]:
lst.append(1)#append() adds elements in the end of the list

In [20]:
lst

['Rachit', 1, 2, 3, 4, 5, 6, 7, 1, 1, 1]

In [24]:
lst.count('Rachit') #count() prints the no. of times an element of the list is occuring

1

In [26]:
lst.clear()#clear() removes all elements in the list

In [27]:
lst

[]

In [28]:
lst=['Rachit', 1, 2, 3, 4, 5, 6, 7]

In [29]:
lst

['Rachit', 1, 2, 3, 4, 5, 6, 7]

In [34]:
lst.index(3)#index() gets the index of the value in the list

3

In [57]:
ab=(1,4,5,9)

In [56]:
fruits=['apple','banana','cherry']

In [59]:
fruits.extend(ab)#add a tuple to the list

In [60]:
fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [ ]:
# 5 default functions for Dictionaries

In [62]:
dic = {'Name': 'Rachit','surname':'Srivastava','Number':1234 }

In [63]:
print(dic)

{'Name': 'Rachit', 'surname': 'Srivastava', 'Number': 1234}

In [64]:
dic['Name']

'Rachit'

In [65]:
dic.get('Name')

'Rachit'

In [73]:
dic.values()

dict_values(['Rachit', 'Srivastava', 1234])

In [75]:
dic.keys()

dict_keys(['Name', 'surname', 'Number'])

In [89]:
values=0

In [90]:
dic.fromkeys(dic,values)

{'Name': 0, 'surname': 0, 'Number': 0}

In [92]:
dic.pop('Number')

1234

In [93]:
dic

{'Name': 'Rachit', 'surname': 'Srivastava'}

In [100]:
dic.update({'Number':1234})

In [101]:
dic

{'Name': 'Rachit', 'surname': 'Srivastava', 'Number': 1234}

In [102]:
# 5 default function for set

In [103]:
st = {'hi',1,'hello',2}  # sets are unordered

In [104]:
st

{1, 2, 'hello', 'hi'}

In [105]:
st.add(3)

In [106]:
st

{1, 2, 3, 'hello', 'hi'}

In [111]:
st1= {'a','b','c','d',1}

In [112]:
st1

{1, 'a', 'b', 'c', 'd'}

In [113]:
st.intersection(st1)

{1}

In [114]:
st1.difference(st)

{'a', 'b', 'c', 'd'}

In [122]:
st.intersection_update(st1)

In [123]:
st1

{1}

In [124]:
st

{1}

In [129]:
st.add('hello')

In [130]:
st.add('hey')

In [131]:
st.add('hi')

In [132]:
st

{1, 'hello', 'hey', 'hi'}

In [133]:
st1.add('hey')

In [134]:
st1.add(5)

In [135]:
st1.add(6)

In [136]:
st1

{1, 5, 6, 'hey'}

In [137]:
st.update(st1)

In [138]:
st

{1, 5, 6, 'hello', 'hey', 'hi'}

In [139]:
st1

{1, 5, 6, 'hey'}

In [140]:
# 2 default functions for tuple because they have only 2 default functions given

In [141]:
tup= ('a','b','c','d')

In [142]:
tup

('a', 'b', 'c', 'd')

In [148]:
tup.count('a')

1

In [150]:
tup.index('c')

2

In [151]:
# 5 default function of string

In [152]:
fn='My first name is Rachit'

In [153]:
ln='My last name is Srivastava'

In [157]:
fn.casefold() # used for converting string to lower case

'my first name is rachit'

In [174]:
fn.encode()   # encode the string

b'My first name is Rachit'

In [175]:
fn.endswith('is Rachit')   # return boolean value and endswith() check the last value of the string

True

In [181]:
fn.find('a',2,13) # find the index value of the letter between a certain range

10

In [177]:
fn.find('Rachit')

17

In [182]:
fn.isdigit()   # checks whether all the characters in string are digits

False

In [183]:
fn.isdecimal()

False